html{
    font-size: 62.5%;  
}

body{
    background-color: whitesmoke;
}

.form-control{
    border:0.7px solid black;
}

.card-header{
    font-size:1.4rem;
}

.card_border{
    border-bottom: 2px solid whitesmoke !important;
}

.nodatabody{
    background-color:#6d646d ;
    color: white;
    border-radius:1rem;
}


.nodatabody h4{
    font-size:1.58rem;
}

.nodatabody p{
    display: inline-block;
    font-size: 1.39rem;
}

.userlogo{
width:2.35rem;
padding:0.25rem;
}

.user{
    font-size:1.34rem;
    width:32%;
    word-break: break-word;
}

.delete_btn{
font-size:1.15rem;
}

.main-title h2{
    font-size:1.7rem;
}

.main-title h3{
    font-size:1.7rem;
}

.alert_box{
    font-size:1.25rem;
}

.postbtn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.question-title-body{
    display: flex; 
    
}

.question-title{
    width:68%;
}

.question-title h1{
    font-size:1.54rem;
    
}

.question_desc_body{
    display:flex;
    max-height:30rem;
    justify-content:flex-start;
    align-items: center;
}

.question_desc_body p{
    display: inline-block;
    font-size:1.6rem;
    word-break:break-word;
}

.code{
    white-space: pre-line;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-top:0 !important;
}

.code-snippet{
    display:block;
    font-size:1.65rem;
    word-break:break-word;
}

.answer_form label{
    font-size: 1.4rem;
}

.answer_form textarea{
    font-size: 1.4rem;
}

.buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:0.5rem;
}

.scrolling-container{
    overflow-y:scroll;
    max-height:30rem;
    
}

.main-card-container{
    width:95vw;
    margin: 0 auto;
}

.code-snippet-body{
    width:95vw;
    margin: 0 auto;
}

.answer-card-body{
    margin: 0 auto;
    width:95vw;
}

.useranswer_desc_body{
    position:relative;
}

.useranswer_desc{
    display:flex;   
    justify-content:flex-start;
    
}

.useranswer_desc p{
   font-size: 1.52rem;
   word-break: break-word;
}

.card-content{
    display: flex;
    align-content:center;
    align-items:center;        
}

@media(min-width:990px) and (max-width:1023px){
    
    .thread_image{
    height:40vh;
    }
    
    .thread_logo{   
    width:9rem;    
    }
    
    .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}

}


@media(min-width:1024px) and (max-width:2200px){
    
   .thread_image{
    height:62vh;
    }
    
    .thread_logo{   
    width:10rem;    
    }
    
     .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}
    
}


@media(min-width:2201px) and (max-width:4500px){
    
    .thread_image{
    height:72vh;
    }
   
    .thread_logo{   
    width:12rem;    
    }
  
     .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}

}

