html{
    font-size:62.5%;
}

body{
    background-color: whitesmoke;
}

.slider_image{
    height:38vh;
    object-fit:cover; 
}

.cards_image{
    object-fit:contain;
    height:6.5rem;
    width:6.5rem;
    margin-top: 0.4rem;
    
}

.card-body h5{
    font-size: 1.8rem;
    display: inline-block;
}


.card-body p{
    font-size: 1.58rem;
    display:inline-block;
}

.card-body a{
    font-size:1.25rem !important;
}

.alert_box{
    font-size:1.25rem;
}

.main-title h3{
    font-size:1.8rem !important;
}

.main-card-container{
    width:90vw;
    margin: auto;
}

.main-card{  
    border-radius:1.5rem;
}


@media(min-width:990px) and (max-width:1023px){
    
    .slider_image{
    height:40vh;
    object-fit:cover;    
    }

}


@media(min-width:1024px) and (max-width:2200px){
    
    .slider_image{
    height:62vh;
    object-fit:cover;     
    }
    
}


@media(min-width:2201px) and (max-width:4500px){
    
    .slider_image{
    height:72vh;
    object-fit:cover;    
    }

}
