html{
    font-size:62.5%;
}

body{
    background: url('image/main-background.png');
    
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    color: white;
}

.buttons{
    margin-top:1rem;
}

p1{
    color: whitesmoke;
}

.logincontainer{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.modal-title{
    font-size:1.7rem;
}

.login_form label{
    font-size:1.5rem;
}

.login_form input{
    font-size:1.5rem;
}

.login_form button{
    font-size:1.2rem ;
}

.alert_box{
    font-size:1.25rem;
}

.modal-footer a{
    font-size:1.31rem;
}

.input-password{
    position: relative;
}

.eye_icon_container{
    position: absolute;
    top: 14%;
    right: 1rem;
    font-size: 1.7rem;
}
