html{
    font-size: 62.5%;   
}

body{
    background-color: whitesmoke;
}

.thread_image_container{
    position:relative;
    border:none; 
}

.thread_image{
    height:34vh;
    border:none;
    object-fit:cover;
}

.thread_logo_container{
   position:absolute;
}

.thread_logo{   
    width:8rem;    
    object-fit:contain;
    opacity:0.9;
}


.form-control{
    border:0.7px solid black;
}

.nodatabody{
    background-color:#6d646d ;
    color: white;
    border-radius:1rem;
}

.nodatabody p{
    display: inline-block;
    font-size: 1.39rem;
}

.nodatabody h4{
    font-size:1.58rem;
}

.userlogo{
width:2.35rem;
padding:0.25rem;
}

.user{
    font-size:1.33rem;
    word-break:break-word;  
    width: 32%;
}

.delete_btn{
font-size:1.15rem;
}

.card-body h5{
font-size:1.72rem ;    
}

.card-body p{
    font-size:1.41rem;
}

.main-title h2{
    font-size:1.7rem;
}

.main-title h3{
    font-size:1.7rem;
}


.question_form label{
    font-size: 1.4rem;
}

.question_form input{
    font-size: 1.4rem;
}

.question_form textarea{
    font-size: 1.4rem;
}
    

.alert_box{
    font-size:1.25rem;
}

.postbtn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.question_desc{
     display:flex;   
}

.question_desc p{
   display: inline-block;
   font-size:1.55rem;
   word-break:break-word;
}

.question-title-body{
    display:flex;
    width:68%;
   
}

.question-title-body a{
    font-size: 1.54rem;  
    word-break:break-word;
    margin-right:0.5rem;
}

.deletebtnbody{
    display:flex;
    align-items:center;
    justify-content:end;
    margin-bottom:0.5rem;
    margin-right:0.5rem;
}


@media(min-width:990px) and (max-width:1023px){
    
    .thread_image{
    height:40vh;
    }
    
    .thread_logo{   
    width:9rem;    
    }
    
    .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}

}


@media(min-width:1024px) and (max-width:2200px){
    
   .thread_image{
    height:62vh;
    }
    
    .thread_logo{   
    width:10rem;    
    }
    
     .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}
    
}


@media(min-width:2201px) and (max-width:4500px){
    
    .thread_image{
    height:72vh;
    }
   
    .thread_logo{   
    width:12rem;    
    }
  
     .buttonofdelete{
    position:absolute;
    bottom:0.8rem;
    right:2.4rem;
}

}
