*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;   
}

body{
    background-color: whitesmoke;
}

.card-text{
    font-size:1.5rem;
}

.card-header a{
    font-size:1.52rem;
}

.form-control{
    border:0.7px solid black;
}

.nodatabody{
    background-color:#dadada;
    color: black;
    border:0.5px solid black;
}

.nodatabody h4{
    font-size:1.52rem;
}


.noresultfound{
margin:1rem 1.6rem;
    
}

.noresultfound p{
   margin-bottom: 0;
  font-size:1.47rem;
}

.userlogo{
width:2.35rem;
padding:0.2rem;
}

.user{
    font-size:1.3rem;
}


.card-body p{
    font-size:1.4rem;
    
}

.nodatabody ul li{    
    font-size:1.32rem;
}
